.reveal {
  opacity: 0;
  transform: translateY(15px);
  animation: reveal 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
